<!DOCTYPE html>
<html lang="en" ng-app="admin" xmlns:ng="https://angularjs.org" id="ng-app">
  <head>
    <meta charset="utf-8">
    <title>Dashboard - Willmott Dixon</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">    
    
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= csrf_meta_tags %>
	<!--[if lt IE 9]>
<style>.span9{
	width: 700px;
}}</style>
<![endif]-->
	      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	      <script>
	      window.hasOwnProperty = window.hasOwnProperty || Object.prototype.hasOwnProperty;
	      </script>
	      <script>
          document.createElement('inputmodel');
          document.createElement('menu');
          document.createElement('search');
          document.createElement('pagination');
          document.createElement('exammenu');
          document.createElement('base');
        </script>
	<%= javascript_include_tag "application" %>
    <base href="/admin">
  </head>

<body key-trap>
	
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 				
			</a>
			
			<a class="brand" href="/admin"><img class="logo" src="/images/willmottdixonlogovsmall.png"/></a>
			
			<div class="nav-collapse" ng-controller="LogoutCrtl">
			
				<ul class="nav pull-right">
					
					<li><a href="#" ng-show="viewable()" ng-click="logout()">Log out</a></li>
					
				</ul>
				
			</div>
			
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->



<div ng-view>

</div>
<div class="container bottomlogo">
	<div class="row">
		<div class="span2 offset5">
			<img src="/images/willmottdixonlogosmall.png"/>
		</div>
	</div>
</div>
  </body>
</html>
