<!DOCTYPE html>
<html lang="en" ng-app="admin">
  <head>
    <meta charset="utf-8">
    <title>Dashboard - Willmott Dixon</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">    
    
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
  </head>

<body key-trap>
	
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 				
			</a>
			
			<img class="logo" src="/images/willmottdixonlogovsmall.png"/><a class="brand" href="./index.html">Willmott Dixon - Pre Enrolment</a>
			
			<div class="nav-collapse" ng-controller="LogoutCrtl">
			
				<ul class="nav pull-right">
					
					<li><a href="#" ng-show="viewable()" ng-click="logout()">Log out</a></li>
					
				</ul>
				
			</div>
			
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->



<div ng-view>

</div>
<div class="container bottomlogo">
	<div class="row">
		<div class="span2 offset5">
			<img src="/images/willmottdixonlogosmall.png"/>
		</div>
	</div>
</div>


  </body>
</html>
