<div id="content">
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<menu active="section"></menu>
				
			</div> <!-- /span3 -->
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
					Password				
				</h1>
				
				
				<div class="row">
					
					<div class="span9">
				
						<div class="widget">
							
							<div class="widget-header">
								<i class="icon-lock"></i>
								<h3>Password For Pre Enrolment Test</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								<form id="edit-profile" class="form-horizontal" ng-init="getPassword()">
									<fieldset>

										<inputmodel type="text" id="password" model="password.password" name="Password" error="error.password[0]"></inputmodel>					
											
											<br />
										
											
										<div class="form-actions">
											<a ng-click="updatePassword()" type="submit" class="btn btn-primary">Save</a> 
											<a href="#/password/" class="btn">Cancel</a>
										</div> <!-- /form-actions -->
									</fieldset>
								</form>								
							</div>
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->
				
			</div> <!-- /span9 -->
				
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->