<div id="content">
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<menu active="password"></menu>
				
		
			</div> <!-- /span3 -->
			
			
			
			<div class="span9">
				
				<h1 class="page-title">
					Password					
				</h1>				
				
				<div class="row">
					
					<div class="span9" ng-init="getPassword()">
				
						<div class="widget">
							
							<div class="widget-header">
								<i class="icon-lock"></i> 
								<h3>Password For Pre Enrolment Test</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								<table class="information-table">
									<tr>
										<td>Password:</td>
										<td>{{password.password}}</td>
									</tr>
								</table>
												
								<br />
									
								<div class="form-actions">
									<a href="#password/edit" class="btn btn-warning">Edit</a> 
								</div> <!-- /form-actions -->							
								
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->

			</div> <!-- /span9 -->
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->