<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Pre enrolment overdue</h1>
    <p>Hello <%= @user.full_name %><br/></p>
    <p>
      It has been over a year since you last completed your pre enrolment.<br>
    </p>
    <p>
      To redo your pre enrolment please visit <a href="https://www.allsafetowork.co.uk/">https://www.allsafetowork.co.uk/</a>.
    </p>
    <p>Thanks</p>
    <p>Willmott Dixon</p>
  </body>
</html>