<div id="content">
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<menu active="section"></menu>
				
			</div> <!-- /span3 -->
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
					Section					
				</h1>
				
				
				<div class="row">
					
					<div class="span9">
				
						<div class="widget">
							
							<div class="widget-header">
								<h3>Section Information</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								<form id="edit-profile" class="form-horizontal">
									<fieldset>

										<inputmodel type="number" id="order" model="section.order" name="Order" error="error.order[0]"></inputmodel>

										<inputmodel type="text" id="name" model="section.name" name="Name" error="error.name[0]"></inputmodel>

										<inputmodel type="checkbox" id="scaffolder" model="section.scaffolder" name="Requires Scaffolder" error="error.scaffolder[0]"></inputmodel>

										<inputmodel type="checkbox" id="ground_worker" model="section.ground_worker" name="Requires Ground Work" error="error.ground_worker[0]"></inputmodel>	

										<inputmodel type="checkbox" id="operate_machinery" model="section.operate_machinery" name="Requires Operates Plant and/or Machinery" error="error.operate_machinery[0]"></inputmodel>	

										<inputmodel type="checkbox" id="lift_loads" model="section.lift_loads" name="Requires Mechanical Lifting of Loads" error="error.lift_loads[0]"></inputmodel>	

										<inputmodel type="checkbox" id="young" model="section.young" name="Requires Younger Than 18" error="error.young[0]"></inputmodel>	

										<inputmodel type="checkbox" id="supervisor" model="section.supervisor" name="Requires Supervisor or Manager" error="error.supervisor[0]"></inputmodel>	

										<inputmodel type="checkbox" id="work_at_height" model="section.work_at_height" name="Requires Working At Height" error="error.work_at_height[0]"></inputmodel>									
											
											<br />
										
											
										<div class="form-actions">
											<a ng-click="addSection()" type="submit" class="btn btn-primary">Save</a> 
											<a href="/admin/sections" class="btn">Cancel</a>
										</div> <!-- /form-actions -->
									</fieldset>
								</form>								
							</div>
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->
				
			</div> <!-- /span9 -->
				
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->