<div id="content">
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<menu active="admin"></menu>
				
			</div> <!-- /span3 -->
			
			<div class="span9">
				
				<h1 class="page-title">
					Admin					
				</h1>
				
				
				<div class="row">
					
					<div class="span9">
				
						<div class="widget">
							
							<div class="widget-header">
								<i class="icon-check"></i>
								<h3>Admin Information</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								<form id="edit-profile" class="form-horizontal" ng-init="getAdmin()">
									<fieldset>
										
										<div class="control-group" ng-class="{ 'error' : error.role[0] != undefined}">											
											<label class="control-label" for="order">Role</label>
											<div class="controls">
												<select ng-model="admin.role" ng-selected="{{admin.role}}" >
													<option value="2">Basic Admin</option>
													<option ng-if="allowed(3)" value="3">Super Admin</option>
													<option ng-if="allowed(4)" value="4">Director Admin</option>
												</select>
												<span class="help-inline">{{error.role[0]}}</span>
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->


										<inputmodel type="text" id="first_name" model="admin.first_name" name="First Name" error="error.first_name[0]"></inputmodel>	

										<inputmodel type="text" id="last_name" model="admin.last_name" name="Last Name" error="error.last_name[0]"></inputmodel>

										<inputmodel type="text" id="email" model="admin.email" name="Email" error="error.email[0]"></inputmodel>	

										<inputmodel type="password" id="password" model="admin.password" name="Password" error="error.password[0]"></inputmodel>	

										<inputmodel type="password" id="password_confirmation" model="admin.password_confirmation" name="Password Confirmation" error="error.password_confirmation[0]"></inputmodel>
											
											<br />
										
											
										<div class="form-actions">
											<a ng-click="updateAdmin()" type="submit" class="btn btn-primary">Save</a> 
											<a href="/admin/admins/" class="btn">Cancel</a>
										</div> <!-- /form-actions -->
									</fieldset>
								</form>								
							</div>
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->
				
			</div> <!-- /span9 -->
				
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->