<ul id="main-nav" class="nav nav-tabs nav-stacked">
					
	<li ng-class="{active: 'cscs_check' == active}">
		<a>
			CSCS Check
			<i class="icon-ok" ng-show="isComplete('cscs_check', 0)"></i>
		</a>
	</li>

	<li ng-show='cscsComplete()' ng-class="{active: 'signup' == active}">
		<a>
			Enter Info Pt.1
			<i class="icon-ok" ng-show="isComplete('signup', 0)"></i>					
		</a>
	</li>

	<li ng-show="cscsComplete()" ng-class="{active: 'signup_2' == active}">
		<a>
			Enter Info Pt.2
			<i class="icon-ok" ng-show="isComplete('signup2', 0)"></i>
		</a>
	</li>
	
	<li ng-show="cscsComplete()" ng-class="{active: 'next_of_kin' == active}">
		<a>
			Next of Kin
			<i class="icon-ok" ng-show="isComplete('next_of_kin', 0)"></i>	
		</a>
	</li>
	
	<li ng-show="cscsComplete()" ng-class="{active: 'employer' == active}">
		<a>
			Employer
			<i class="icon-ok" ng-show="isComplete('employer', 0)"></i>
		</a>
	</li>
	
	<li ng-repeat="item in sections" ng-class="{active: ('section' + item.section.order) == active}" class="{{isClickable(user, item.section)}}">
		<a>
			Section {{item.section.order}}
			<i class="icon-ok" ng-show="isComplete('section', item.section.order)"></i>
		</a>
	</li>
	
</ul>