<ul id="main-nav" class="nav nav-tabs nav-stacked">
					
	<li ng-class="{active: 'dashboard' == active}">
		<a href="#/">
			<i class="icon-home"></i>
			Home
		</a>
	</li>

	<li ng-class="{active: 'user' == active}">
		<a href="#/users">
			<i class="icon-user"></i>
			Operatives							
		</a>
	</li>

	<li ng-class="{active: 'admin' == active}">
		<a href="#/admins">
			<i class="icon-lock"></i>
			Admin	
		</a>
	</li>
	
	<li ng-class="{active: 'discipline' == active}">
		<a href="#/disciplinary_cards">
			<i class="icon-th-large"></i>
			Disciplinary Card Register		
		</a>
	</li>
	
	<li ng-class="{active: 'section' == active}">
		<a href="#/sections">
			<i class="icon-th-list"></i>
			Sections	
		</a>
	</li>
	
	<li ng-class="{active: 'question' == active}">
		<a href="#/questions">
			<i class="icon-check"></i>
			Questions	
		</a>
	</li>
	<li ng-class="{active: 'video' == active}">
		<a href="#/videos">
			<i class="icon-film"></i>
			Videos	
		</a>
	</li>
	
</ul>