<div id="content">
<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<menu active="user"></menu>
				
		
			</div> <!-- /span3 -->
			
			
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
					Edit Next Of Kin					
				</h1>
				
				
				<div class="row">
					
					<div class="span9">
				
						<div class="widget">
							
							<div class="widget-header">
								<h3>Next of Kin Information For {{user.first_name}} {{user.last_name}}</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								<form id="edit-profile" class="form-horizontal" ng-init="getNextOfKin()">
									<fieldset>
										
										<inputmodel type="text" id="firstname" model="nextOfKin.first_name" name="First Name" error="error.first_name[0]"></inputmodel>

										<inputmodel type="text" id="lastname" model="nextOfKin.last_name" name="Last Name" error="error.last_name[0]"></inputmodel>

										<inputmodel type="text" id="relationship" model="nextOfKin.relationship" name="Relationship" error="error.relationship[0]"></inputmodel>

										<inputmodel type="text" id="contact_number" model="nextOfKin.contact_number" name="Contact Number" error="error.contact_number[0]"></inputmodel>

										<inputmodel type="text" id="address_line_1" model="nextOfKin.address_line_1" name="Address Line 1" error="error.address_line_1[0]"></inputmodel>

										<inputmodel type="text" id="address_line_2" model="nextOfKin.address_line_2" name="Address Line 2" error="error.address_line_2[0]"></inputmodel>

										<inputmodel type="text" id="city" model="nextOfKin.city" name="Town/City" error="error.city[0]"></inputmodel>

										<inputmodel type="text" id="postcode" model="nextOfKin.postcode" name="Postcode" error="error.postcode[0]"></inputmodel>
										
											
											<br />
										
											
										<div class="form-actions">
											<a ng-click="updateNextOfKin()" type="submit" class="btn btn-primary">Save</a> 
											<a href="/admin/users/{{userId}}" class="btn">Cancel</a>
										</div> <!-- /form-actions -->
									</fieldset>
								</form>								
							</div>
						  
						  
						</div>
								
								
								
								
								
								
								
								
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->
				
				
				
				
				
				
				
				
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->