<div id="content">
<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<menu active="user"></menu>	
				
		
			</div> <!-- /span3 -->
			
			
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
					New Next Of Kin					
				</h1>
				
				
				<div class="row">
					
					<div class="span9">
				
						<div class="widget">
							
							<div class="widget-header">
								<h3>Next of Kin Information For {{user.first_name}} {{user.last_name}}</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								<form id="edit-profile" class="form-horizontal" ng-init="getUser()">
									<fieldset>
										
										<div class="control-group">											
											<label class="control-label" for="firstname">First Name</label>
											<div class="controls">
												<input type="text" class="input-medium" id="firstname" value="">
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->
										
										
										<div class="control-group">											
											<label class="control-label" for="lastname">Last Name</label>
											<div class="controls">
												<input type="text" class="input-medium" id="lastname" value="">
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->
										
										
										<div class="control-group">											
											<label class="control-label" for="email">Relationship</label>
											<div class="controls">
												<input type="text" class="input-large" id="email" value="">
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->
										

										<div class="control-group">											
											<label class="control-label" for="contact_number">Contact Number</label>
											<div class="controls">
												<input type="tel" class="input-large" id="contact_number" value="">
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->


										<div class="control-group">											
											<label class="control-label" for="address_line_1">Address Line 1</label>
											<div class="controls">
												<input type="tel" class="input-large" id="address_line_1" value="">
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->


										<div class="control-group">											
											<label class="control-label" for="address_line_1">Address Line 2</label>
											<div class="controls">
												<input type="tel" class="input-large" id="address_line_2" value="">
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->


										<div class="control-group">											
											<label class="control-label" for="city">City</label>
											<div class="controls">
												<input type="tel" class="input-large" id="city" value="">
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->


										<div class="control-group">											
											<label class="control-label" for="postcode">Postcode</label>
											<div class="controls">
												<input type="tel" class="input-large" id="postcode" value="">
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->
										
											
											<br />
										
											
										<div class="form-actions">
											<button type="submit" class="btn btn-primary">Save</button> 
											<button class="btn">Cancel</button>
										</div> <!-- /form-actions -->
									</fieldset>
								</form>								
							</div>
						  
						  
						</div>
								
								
								
								
								
								
								
								
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->
				
				
				
				
				
				
				
				
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->