<div id="content">
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<menu active="user"></menu>
				
		
			</div> <!-- /span3 -->
			
			
			
			<div class="span9">
				
				<h1 class="page-title">
					Operatives					
				</h1>				
				
				<div class="row">
					
					<div class="span9" ng-init="getUsers()">

						<div class="widget widget-table">
										
							<div class="widget-header">
								<i class="icon-user"></i>
								<h3>Users</h3>
								<search searchmodel="search" models="users" currentpage="currentPage" lastpage="lastPage"></search>
							</div> <!-- /widget-header -->
							
							<div class="widget-content">
							
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Reference Number</th>
											<th>Name</th>
											<th>Job</th>
											<th>Employer</th>
											<th>CSCS Expiry Date</th>
											<th>Pre-Enrolment Due</th>
											<th></th>
										</tr>
									</thead>
									
									<tbody>
										<tr ng-repeat="user in users | filter:search | slice:((currentPage-1)*10):(currentPage-1)*10+10">
											<td>{{user.user.uid}}</td>
											<td><a href="/admin/users/{{user.user.id}}">{{user.user.full_name}}</a></td>
											<td>{{user.user.job}}</td>
											<td>{{user.user.company_name}}</td>
											<td ng-class="{red: overdue(user.user.cscs_expiry_date)}">{{user.user.cscs_expiry_date}}</td>
											<td ng-class="{red: overdue(user.user.pre_enrolment_due)}">{{user.user.pre_enrolment_due}}</td>
											<td class="action-td">
												<a ng-show="allowed(3)" href="/admin/users/{{user.user.id}}/edit" class="btn btn-small btn-warning"><i class="icon-pencil"></i></a>						
												<a ng-show="allowed(3)" ng-click="deleteUserFromTable(user.user.id, $index)" class="btn btn-small btn-danger"><i class="icon-remove"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						<div class="float-left">
							<a class="spreadsheet-link" ng-click="userCSV()">CSV</a> | <a class="spreadsheet-link" ng-click="userXLS()">XLS</a>
						</div>

						<pagination lastpage="lastPage" currentpage="currentPage"></pagination>
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->

			</div> <!-- /span9 -->
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->