<div id="content">
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<menu active="video"></menu>
				
			</div> <!-- /span3 -->
			
			<div class="span9">
				
				<h1 class="page-title">
					Video			
				</h1>
				
				
				<div class="row">
					
					<div class="span9">
				
						<div class="widget">
							
							<div class="widget-header">
								<i class="icon-film"></i>
								<h3>Video Information</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								<form id="edit-profile" class="form-horizontal" ng-init="getSections()">
									<fieldset>

										<div class="control-group" ng-class="{ 'error' : error.section_id[0] != undefined}">											
											<label class="control-label" for="order">Section</label>
											<div class="controls">
												<select ng-model="video.section_id">
													<option ng-repeat="item in sections" ng-selected="{{video.section_id == item.section.id}}" value ="{{item.section.id}}">{{item.section.name}}</option>
												</select>
												<span class="help-inline">{{error.section_id[0]}}</span>
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->

										<inputmodel type="number" id="order" model="video.order" name="Order" error="error.order[0]"></inputmodel>

										<inputmodel type="text" id="name" model="video.name" name="Video" error="error.name[0]"></inputmodel>

										<inputmodel type="number" id="show_questions" model="video.show_questions" name="Shown Questions" error="error.show_questions[0]"></inputmodel>

										<div class="control-group" ng-class="{ 'error' : error.section_id[0] != undefined}">											
											<label class="control-label" for="order">Video File</label>
											<div class="controls">
												<input type="file" ng-file-select="onFileSelect($files)" >
												<span class="help-inline">{{error.section_id[0]}}</span>
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->

										<div class="control-group" ng-show="progress">											
											<label class="control-label" for="order">Progress</label>
											<div class="controls">
												<div class="progress progress-striped active" style="width: 50%;">
												  <div class="bar" style="width: {{progress}}%;"></div>
												</div>		
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->


														
											
											<br />
										
											
										<div class="form-actions">
											<a ng-click="addVideo()" type="submit" class="btn btn-primary">Save</a> 
											<a href="/admin/videos/" class="btn">Cancel</a>
										</div> <!-- /form-actions -->
									</fieldset>
								</form>								
							</div>
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->
				
			</div> <!-- /span9 -->
				
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->