<div id="content">
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<menu active="section"></menu>
				
			</div> <!-- /span3 -->
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
					Users				
				</h1>
				
				
				<div class="row">
					
					<div class="span9">
				
						<div class="widget" ng-init="getUser()">
							
							<div class="widget-header">
								<h3>Assign Card To {{user.first_name}} {{user.last_name}}</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								<form id="edit-profile" class="form-horizontal">
									<fieldset>
										
										<div class="control-group">											
											<label class="control-label" for="order">Order</label>
											<div class="controls">
												<select class="input-medium">
													<option value="Green">Green</option>
													<option value="Yellow">Yellow</option>
													<option value="Red">Red</option>
												</select>
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->
										
										
										<div class="control-group">											
											<label class="control-label" for="location">Location</label>
											<div class="controls">
												<input type="text" class="input-medium" id="location" value="">
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->

										<div class="control-group">											
											<label class="control-label" for="reason">Reason</label>
											<div class="controls">
												<textarea rows="3" id="reason"></textarea>
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->										
											
											<br />
										
											
										<div class="form-actions">
											<button type="submit" class="btn btn-primary">Save</button> 
											<button class="btn">Cancel</button>
										</div> <!-- /form-actions -->
									</fieldset>
								</form>								
							</div>
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->
				
			</div> <!-- /span9 -->
				
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->