<div id="content">
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<menu active="user"></menu>
				
			</div> <!-- /span3 -->
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
					Users				
				</h1>
				
				
				<div class="row">
					
					<div class="span9">
				
						<div class="widget" ng-init="getUser()">
							
							<div class="widget-header">
								<h3>Assign Card To {{user.first_name}} {{user.last_name}}</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								<form id="edit-profile" class="form-horizontal">
									<fieldset>
										
										<input type="hidden" value="{{id}}" ng-model="disciplinaryCard.user_id"/>
										
										<div class="control-group" ng-class="{ 'error' : error.colour[0] != undefined}">											
											<label class="control-label" for="order">Colour</label>
											<div class="controls">
												<select ng-model="disciplinaryCard.colour" class="input-medium">
													<option value="Green">Green</option>
													<option value="Yellow">Yellow</option>
													<option value="Red" ng-if="allowed(3)">Red</option>
												</select>
												<span class="help-inline">{{error.colour[0]}}</span>
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->

										<inputmodel type="text" id="location" model="disciplinaryCard.location" name="Location" error="error.location[0]"></inputmodel>

										<div class="control-group" ng-class="{ 'error' : error.reason[0] != undefined}">											
											<label class="control-label" for="reason">Reason</label>
											<div class="controls">
												<textarea rows="3" ng-model="disciplinaryCard.reason" id="reason"></textarea>
												<span class="help-inline">{{error.reason[0]}}</span>
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->										
											
											<br />
										
											
										<div class="form-actions">
											<a ng-click="addDisciplinaryCard()" type="submit" class="btn btn-primary">Save</a> 
											<a href="/admin/users/{{user.id}}" class="btn">Cancel</a>
										</div> <!-- /form-actions -->
									</fieldset>
								</form>								
							</div>
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->
				
			</div> <!-- /span9 -->
				
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->