<div id="content">
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<menu active="user"></menu>
				
		
			</div> <!-- /span3 -->
			
			
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
					User Account					
				</h1>
				
				
				<div class="row">
					
					<div class="span9">
				
						<div class="widget">
							
							<div class="widget-header">
								<h3>User Information</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								<form id="edit-profile" class="form-horizontal" ng-init="getUser()">
									<fieldset>
										
										<inputmodel type="text" id="first_name" model="user.first_name" name="First Name" error="error.first_name[0]"></inputmodel>
										
										<inputmodel type="text" id="last_name" model="user.last_name" name="Last Name" error="error.last_name[0]"></inputmodel>
										
										<inputmodel type="text" id="email" model="user.email" name="Email" error="error.email[0]"></inputmodel>									
										
										<inputmodel type="text" id="job" model="user.job" name="Job" error="error.job[0]"></inputmodel>

										<div class="control-group" ng-class="{ 'error' : error != undefined}">											
											<label class="control-label" for="health_issues">Health Issues*</label>
											<div class="controls">
												<select ng-model="user.health_issues" name="health_issues" id="health_issues">
													<option value="0" ng-selected="user.health_issues == 0">No</option>
													<option value="1" ng-selected="user.health_issues == 1">Yes</option>
												</select>
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->

										<div class="control-group">											
											<label class="control-label" for="is_supervisor">Is Supervisor?</label>
											<div class="controls">
												<input type="checkbox" class="input-large" id="is_supervisor" value="{{user.is_supervisor}}">
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->

										<inputmodel type="text" id="cscs_number" model="user.cscs_number" name="CSCS Number" error="error.cscs_number[0]" ng-show="allowed(3)"></inputmodel>

										<inputmodel type="month" id="cscs_date" model="user.cscs_expiry_month" name="CSCS Expiry Date (yyyy-mm)" error="error.cscs_date[0]" ng-show="allowed(3)"></inputmodel>

										<inputmodel type="date" id="date_of_birth" model="user.date_of_birth" name="Date Of Birth (dd/mm/yyyy)" error="error.date_of_birth[0]"></inputmodel>

										<inputmodel type="text" id="national_insurance" model="user.national_insurance" name="National Insurance" error="error.national_insurance[0]" ng-show="allowed(3)"></inputmodel>

										<inputmodel type="text" id="completed_pre_enrolment" model="user.completed_pre_enrolment" name="Completed Pre Enrolment" error="error.completed_pre_enrolment[0]" ng-show="allowed(3)"></inputmodel>

										<inputmodel type="date" id="pre_enrolment_due" model="user.pre_enrolment_due" name="Pre Enrolment Due" error="error.pre_enrolment_due[0]" ng-show="allowed(3)"></inputmodel>

										<inputmodel type="text" id="contact_number" model="user.contact_number" name="Contact Number" error="error.contact_number[0]" ng-show="allowed(3)"></inputmodel>

										<inputmodel type="text" id="address_line_1" model="user.address_line_1" name="Address Line 1" error="error.address_line_1[0]" ng-show="allowed(3)"></inputmodel>

										<inputmodel type="text" id="address_line_2" model="user.address_line_2" name="Address Line 2" error="error.address_line_2[0]" ng-show="allowed(3)"></inputmodel>

										<inputmodel type="text" id="city" model="user.city" name="Town/City" error="error.city[0]" ng-show="allowed(3)"></inputmodel>

										<inputmodel type="text" id="postcode" model="user.postcode" name="Postcode" error="error.postcode[0]" ng-show="allowed(3)"></inputmodel>

										<inputmodel type="checkbox" id="scaffolder" model="user.scaffolder" name="Requires Scaffolder" error="error.scaffolder[0]" ng-show="allowed(3)"></inputmodel>

										<inputmodel type="checkbox" id="ground_worker" model="user.ground_worker" name="Requires Ground Work" error="error.ground_worker[0]" ng-show="allowed(3)"></inputmodel>	

										<inputmodel type="checkbox" id="operate_machinery" model="user.operate_machinery" name="Requires Operates Plant and/or Machinery" error="error.operate_machinery[0]" ng-show="allowed(3)"></inputmodel>	

										<inputmodel type="checkbox" id="lift_loads" model="user.lift_loads" name="Requires Mechanical Lifting of Loads" error="error.lift_loads[0]" ng-show="allowed(3)"></inputmodel>	

										<inputmodel type="checkbox" id="work_at_height" model="user.work_at_height" name="Requires Working At Height" error="error.work_at_height[0]" ng-show="allowed(3)"></inputmodel>		
										
											<br />
										
											
										<div class="form-actions">
											<a ng-click="updateUser()" type="submit" class="btn btn-primary">Save</a> 
											<a href="/admin/users/{{user.id}}" class="btn">Cancel</a>
										</div> <!-- /form-actions -->
									</fieldset>
								</form>								
							</div>
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->