<div id="content">
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<menu active="question"></menu>
				
		
			</div> <!-- /span3 -->
			
			
			
			<div class="span9">
				
				<h1 class="page-title">
					Questions					
				</h1>				
				
				<div class="row">
					
					<div class="span9" ng-init="getQuestions()">

						<div class="widget widget-table">
										
							<div class="widget-header">
								<i class="icon-check"></i>
								<h3>Questions</h3>
								<a href="#questions/new" class="btn btn-small btn-success">Add</a>
								<search searchmodel="search" models="questions" currentpage="currentPage" lastpage="lastPage"></search>
							</div> <!-- /widget-header -->
							
							<div class="widget-content">
						
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Name</th>
											<th></th>
										</tr>
									</thead>
									
									<tbody>
										<tr ng-repeat="question in questions | filter:search | slice:((currentPage-1)*10):(currentPage-1)*10+10">
											<td><a href="#/questions/{{question.question.id}}">{{question.question.name}}</a></td>
											<td class="action-td">
												<a href="#questions/{{question.question.id}}/edit" class="btn btn-small btn-warning"><i class="icon-pencil"></i></a>						
												<a ng-click="deleteQuestionFromTable(question.question.id, $index)" class="btn btn-small btn-danger"><i class="icon-remove"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->

						<pagination lastpage="lastPage" currentpage="currentPage"></pagination>
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->

			</div> <!-- /span9 -->
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->