<div id="content">
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<menu active="question"></menu>
				
			</div> <!-- /span3 -->
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
					Question				
				</h1>
				
				
				<div class="row">
					
					<div class="span9">
				
						<div class="widget">
							
							<div class="widget-header">
								<i class="icon-check"></i>
								<h3>Question Information</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								<form id="edit-profile" class="form-horizontal" ng-init="[getQuestion(), getSections(), getVideos()]">
									<fieldset>

										<div class="control-group">											
											<label class="control-label" for="order">Section</label>
											<div class="controls">
												<select ng-model="question.section_id">
													<option ng-repeat="item in sections" ng-selected="{{question.section_id == item.section.id}}" value ="{{item.section.id}}">{{item.section.name}}</option>
												</select>
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->

										<div class="control-group">											
											<label class="control-label" for="order">Video</label>
											<div class="controls">
												<select ng-model="question.video_id">
													<option ng-repeat="item in videos" ng-if="item.video.section_id == question.section_id" ng-selected="{{question.video_id == item.video.id}}" value="{{item.video.id}}">{{item.video.name}}</option>
												</select>
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->

										<inputmodel type="text" id="name" model="question.name" name="Question" error="error.name[0]"></inputmodel>	

										<inputmodel type="text" id="answer1" model="question.answer1" name="Answer 1" error="error.answer1[0]"></inputmodel>

										<inputmodel type="text" id="answer2" model="question.answer2" name="Answer 2" error="error.answer2[0]"></inputmodel>	

										<inputmodel type="text" id="answer3" model="question.answer3" name="Answer 3" error="error.answer3[0]"></inputmodel>	

										<inputmodel type="text" id="answer4" model="question.answer4" name="Answer 4" error="error.answer4[0]"></inputmodel>

										<inputmodel type="number" min="1" max="4" id="answer" model="question.answer" name="Correct Answer" error="error.answer[0]"></inputmodel>
											
										<br />
											
										<div class="form-actions">
											<a ng-click="updateQuestion()" type="submit" class="btn btn-primary">Save</a> 
											<a href="#/questions/{{question.id}}" class="btn">Cancel</a>
										</div> <!-- /form-actions -->
									</fieldset>
								</form>								
							</div>
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->
				
			</div> <!-- /span9 -->
				
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->