<div id="content">
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<menu active="question"></menu>
				
		
			</div> <!-- /span3 -->
			
			
			
			<div class="span9">
				
				<h1 class="page-title">
					Questions					
				</h1>				
				
				<div class="row">
					
					<div class="span9" ng-init="getQuestion()">
				
						<div class="widget">
							
							<div class="widget-header">
								<i class="icon-check"></i> 
								<h3>Question Information</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								<table class="information-table">
									<tr>
										<td>Question:</td>
										<td>{{question.name}}</td>
									</tr>
									<tr>
										<td>Section:</td>
										<td>{{question.section.name}}</td>
									</tr>
									<tr>
										<td>Order:</td>
										<td>{{question.order}}</td>
									</tr>
									<tr>
										<td>Answer 1:</td>
										<td>{{question.answer1}}</td>
									</tr>
									<tr>
										<td>Answer 2:</td>
										<td>{{question.answer2}}</td>
									</tr>
									<tr>
										<td>Answer 3:</td>
										<td>{{question.answer3}}</td>
									</tr>
									<tr>
										<td>Answer 4:</td>
										<td>{{question.answer4}}</td>
									</tr>
									<tr>
										<td>Correct Answer:</td>
										<td>{{question.answer}}</td>
									</tr>
								</table>
												
								<br />
								
									
								<div class="form-actions">
									<a href="#questions/{{question.id}}/edit" class="btn btn-warning">Edit</a> 
									<a ng-click="deleteQuestion()" class="btn btn-danger">Delete</a>
								</div> <!-- /form-actions -->							
								
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->

			</div> <!-- /span9 -->
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->