<div id="content">
<div class="container">
		
		<div class="row">
			
			<div class="span3">
		
			</div> <!-- /span3 -->
			
			<div class="span9">
				
				<div class="widget-content">
					<h3>CSCS Check</h3>
					
					<p>Please fill in the the required fields below before clicking on "Check".</p>

					<p>Your details will be checked with the CSCS card database and the Willmott Dixon red card register.</p>

					<form class="form-horizontal">

						<inputmodel type="text" id="cscs_number" model="user.cscs_number" name="CSCS Card Number" error="error.cscs_number[0]"></inputmodel>

						<div class="control-group">
						    <div class="controls">
						      <button type="submit" class="btn" ng-click="CSCSCheck()">Check</button>
						    </div>
						</div>
					</form>

					<p><b>Note:</b> By clicking "Check" above, you agree to Willmott Dixon holding the personal data that you have provided (including any sensitive personal data) which Willmott Dixon shall use only for the purposes of complying with its health and safety obligations and in accordance with its data protection policy.</p>
				</div>
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
</div>