<div id="content">
<div class="container">
		
		<div class="row">
			
			<div class="span12">
				
				<div class="widget-content">
					<h3>Introduction</h3>
					<p>Welcome to Willmott Dixon's Pre-Enrolment. Completing this online register provides you with the safety knowledge neccessary for you to operate on projects.</p>
					<p>By registering for Pre-Enrolment and completing a short online assignment every 12 months, you will be able to work on our projects after a short specific on-site induction.</p>

					<form class="form-inline">
						<input type="password" class="input-large" placeholder="Password" ng-model="password">
						<button type="submit" class="btn" ng-click="signIn()">Enter Site</button>
						<span class="help-inline red">{{error.password}}</span>
					</form>
				</div>
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
</div>