<div id="content">
<div class="container">
		
		<div class="row">
			
			<div class="span12">
				
				<div class="widget-content">
					<h3>Welcome to Willmott Dixon's Pre-Enrolment</h3>
					<img src="/images/landingimg.jpg" class="landing"/>
					<p>Completing this online register provides you with the health, safety and environmental knowledge necessary for you to operate on sites.</p>
					<p>You will need your CSCS card and a headshot photograph you can upload.</p>
					<p>Registering on this system and completing the online test every 12 months will allow you to work on all our sites.</p>
					<p>This system replaces the health, safety and environmental briefing you would normally sit when arriving onto every new site. This means you can now get to work after just a short site specific briefing.</p>

					<form class="form-inline">
						<button type="submit" class="btn" ng-click="signIn()">Continue</button>
					</form>
				</div>
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
</div>