<div id="content" ng-init="getUser()">
<div class="container">
		
		<div class="row">
			
			<div class="span3">

				<exammenu active="user" sections="sections" user="currentUser"></exammenu>
		
			</div> <!-- /span3 -->
			
			<div class="span9">
				
				<div class="widget-content">
					<h3>Enter Information Part 1 of 2</h3>

					<form class="form-horizontal">
						<inputmodel type="text" id="first_name" model="user.first_name" name="First Name" error="error.first_name[0]"></inputmodel>

						<inputmodel type="text" id="last_name" model="user.last_name" name="Last Name" error="error.last_name[0]"></inputmodel>

						<inputmodel type="date" id="date_of_birth" model="user.date_of_birth" name="Date Of Birth" error="error.date_of_birth[0]"></inputmodel>

						<inputmodel type="text" id="job" model="user.job" name="Job" error="error.job[0]"></inputmodel>

						<inputmodel type="checkbox" id="health_issues" model="user.health_issues" name="Health Issues*" error="error.health_issues[0]"></inputmodel>

						<inputmodel type="text" id="national_insurance" model="user.national_insurance" name="National Insurance" error="error.national_insurance[0]"></inputmodel>

						<inputmodel type="text" id="cscs_number" model="user.cscs_number" name="CSCS Number" error="error.cscs_number[0]"></inputmodel>

						<inputmodel type="date" id="cscs_date" model="user.cscs_expiry_date" name="CSCS Expiry Date" error="error.cscs_expiry_date[0]"></inputmodel>

						<inputmodel type="text" id="contact_number" model="user.contact_number" name="Contact Number" error="error.contact_number[0]"></inputmodel>

						<inputmodel type="text" id="email" model="user.email" name="Email" error="error.email[0]"></inputmodel>

						<inputmodel type="text" id="address_line_1" model="user.address_line_1" name="Address Line 1" error="error.address_line_1[0]"></inputmodel>

						<inputmodel type="text" id="address_line_2" model="user.address_line_2" name="Address Line 2" error="error.address_line_2[0]"></inputmodel>

						<inputmodel type="text" id="city" model="user.city" name="City" error="error.city[0]"></inputmodel>

						<inputmodel type="text" id="postcode" model="user.postcode" name="Postcode" error="error.postcode[0]"></inputmodel>

						<div class="control-group" ng-class="{ 'error' : error.section_id[0] != undefined}">											
							<label class="control-label" for="order">Passport Photo</label>
							<div class="controls">
								<input type="file" ng-file-select="onFileSelect($files)" >
								<span class="help-inline">{{error.section_id[0]}}</span>
							</div> <!-- /controls -->				
						</div> <!-- /control-group -->

						<div class="control-group" ng-show="progress">											
							<label class="control-label" for="order">Progress</label>
							<div class="controls">
								<div class="progress progress-striped active" style="width: 50%;">
								  <div class="bar" style="width: {{progress}}%;"></div>
								</div>		
							</div> <!-- /controls -->				
						</div> <!-- /control-group -->

						<div class="control-group">
						    <div class="controls">
						      <button type="submit" class="btn" ng-click="signUp()">Submit</button>
						    </div>
						</div>

						<p>By clicking "Submit" you confirm that:</p>
						<ol>
							<li>The details you have entered are correct to the best of your knowledge.</li>
							<li>You will abide by Willmott Dixon's general health and safety rulesand any specific instructions given to you when you arrive on our site.</li>
							<li>That you will cooperate with us to ensure that your work conducted on our sites is safe and without risk to health.</li>
							<li>Bring to our site manager's attention any item that you could beleive to be dangerous or cause ill health</li>
							<li>You agree to Willmott Dixon holding the personal data that you have provided (including any sensitive personal data) which Willmott Dixon shall use only for the purpose of complying with its health and safety obligations and in accordance with its data protection policy.</li>
						</ol>
					</form>
				</div>
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
</div>